package com.twilio.mavenmeta;

import java.io.Serial;

public class PluginExecution extends org.apache.maven.model.PluginExecution implements java.io.Serializable {
    @Serial
    private static final long serialVersionUID = 1337L;
}