package com.twilio.mavenmeta;

import java.io.Serial;

public class Plugin extends org.apache.maven.model.Plugin implements java.io.Serializable {
    @Serial
    private static final long serialVersionUID = 1337L;
}