# The Meta-Maven-Plugin Maven Plugin

Documentation to come.

## Quick Start

Add the following to your plugins section:

```
	<plugin>
		<groupId>${project.groupId}</groupId>
		<artifactId>${project.artifactId}</artifactId>
		<version>${project.version}</version>
	</plugin>
```